.immerse-yourself-in {
  margin-block-start: 0;
  margin-block-end: 13px;
}
.embark-on-an-container3 {
  height: 361px;
  flex: 1;
  position: relative;
  line-height: 50px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.embark-on-an-exclusive-private-frame {
  width: 1059px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.path-20-icon4 {
  height: 2435.9px;
  width: 1732.4px;
  position: absolute;
  margin: 0 !important;
  top: -1218px;
  left: -388.7px;
}
.frame-child58 {
  width: 1688.7px;
  height: 1682.1px;
  position: relative;
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  border: 12px solid var(--color-blanchedalmond-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.included2 {
  height: 74px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.included-container {
  width: 233.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 4.100000000002183px;
  box-sizing: border-box;
}
.row-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.accommodation-at-lodges,
.as-outlined-in,
.itinerary5 {
  margin: 0;
}
.accommodation2 {
  align-self: stretch;
  height: 184.9px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.row,
.stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.stack {
  flex: 1;
  flex-direction: column;
  padding: 7.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 350px;
}
.row {
  width: 645.9px;
  flex-direction: row;
  gap: var(--gap-16xl-5);
  min-width: 645.8999999999978px;
}
.brush-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.all-meals-included2,
.lunch-dinner2 {
  margin: 0;
  text-transform: capitalize;
}
.mineral-water5 {
  text-transform: capitalize;
}
.mineral-water4 {
  margin: 0;
}
.all-meals-included-container2 {
  align-self: stretch;
  height: 230.1px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.brush,
.symbol {
  justify-content: flex-start;
}
.symbol {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 419px;
  max-width: 100%;
}
.brush {
  align-self: stretch;
  flex-direction: row;
  gap: 53.900000000001455px;
}
.brush,
.grid1,
.pen {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.pen {
  width: 769.8px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 769.7999999999993px;
}
.grid1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.spacer-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.ground-transportation3 {
  margin: 0;
}
.in-robust3 {
  margin: 0;
  white-space: pre-wrap;
}
.ground-transportation-in-container3 {
  align-self: stretch;
  height: 147.9px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.image,
.spacer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 341px;
}
.spacer {
  width: 631px;
  flex-direction: row;
  gap: var(--gap-16xl-5);
  min-width: 631px;
}
.animate-child,
.round-trip-airport-transfer3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.animate-child {
  height: 71.1px;
  width: 71.1px;
  z-index: 1;
}
.round-trip-airport-transfer3 {
  align-self: stretch;
  height: 74px;
  text-transform: capitalize;
  display: inline-block;
  z-index: 2;
}
.animate,
.variable {
  justify-content: flex-start;
}
.variable {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  min-width: 367px;
  max-width: 100%;
}
.animate {
  align-self: stretch;
  flex-direction: row;
  gap: 52.900000000001455px;
}
.align-vertical,
.anchors,
.animate {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.anchors {
  width: 688.8px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 688.7999999999993px;
}
.align-vertical {
  width: 1489.4px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  margin-top: -86.1px;
}
.grid-parent,
.path-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.grid-parent {
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.path-inner {
  width: 1573.6px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 1.6000000000021828px;
  box-sizing: border-box;
  max-width: 100%;
}
.stroke-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.english-speaking-guide3,
.knowledgeable-and-fluent2 {
  margin: 0;
}
.knowledgeable-and-fluent-container2 {
  align-self: stretch;
  height: 147.9px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.blend-mode,
.stroke {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.blend-mode {
  flex: 1;
  flex-direction: column;
  padding: 7.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 352px;
}
.stroke {
  width: 649.1px;
  flex-direction: row;
  gap: 37.10000000000218px;
  min-width: 649.1000000000022px;
}
.rotate-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.fees2,
.full-coverage-of2 {
  margin: 0;
}
.full-coverage-of-container4 {
  height: 111px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 403px;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.opacity,
.rotate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rotate {
  align-self: stretch;
  flex-direction: row;
  gap: 55.900000000001455px;
}
.opacity {
  width: 747.1px;
  flex-direction: column;
  padding: 14.800000000000182px 0 0;
  box-sizing: border-box;
  min-width: 747.0999999999985px;
}
.container-child,
.fill {
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.fill {
  width: 1547.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  margin-top: -13.8px;
}
.container-child {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.professional-english-speaking5,
.safari-cook2 {
  margin: 0;
}
.professional-english-speaking4 {
  align-self: stretch;
  height: 111px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 4;
}
.professional-english-speaking-frame {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 410px;
}
.container,
.logic-gate4,
.professional-english-speaking-frame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-24xl-5);
}
.logic-gate4 {
  width: 745.4px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  min-width: 745.3999999999978px;
}
.frame-child59 {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.camping-equipment-tents2,
.sleeping-matschairs-tables2 {
  margin: 0;
}
.full-coverage-of-container5 {
  align-self: stretch;
  height: 111px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.full-coverage-of-national-par-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 437px;
  max-width: 100%;
}
.data-aggregator2,
.frame-parent53 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent53 {
  align-items: flex-start;
  gap: 55.900000000001455px;
  min-width: 520px;
}
.data-aggregator2 {
  align-items: flex-end;
  gap: 53.20000000000073px;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.data-aggregator-container,
.frame-parent52,
.path {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-aggregator-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1.6000000000021828px;
  box-sizing: border-box;
  margin-top: -13.8px;
}
.frame-parent52,
.path {
  flex-direction: column;
}
.path {
  align-self: stretch;
  color: var(--color-dimgray-200);
  font-family: var(--font-nexa-xbold);
}
.frame-parent52 {
  width: 1600.1px;
  gap: 22.899999999999636px;
}
.excluded3 {
  height: 74px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.excluded-container {
  width: 242.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 4.100000000002183px;
  box-sizing: border-box;
}
.frame-child60,
.path-22-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child60 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent7 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-wrapper20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child61,
.path-22-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child61 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent8 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-wrapper21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child62,
.path-22-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child62 {
  top: 32.6px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent9 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-wrapper22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child63,
.path-22-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child63 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent10 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-wrapper23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child64,
.path-22-icon18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child64 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent11 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-wrapper24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child65,
.path-22-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child65 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent12 {
  height: 71.1px;
  flex: 1;
  position: relative;
}
.frame-parent58,
.frame-parent59,
.frame-wrapper25 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper25 {
  flex-direction: row;
  opacity: 0.59;
  z-index: 1;
}
.frame-parent58,
.frame-parent59 {
  flex-direction: column;
  gap: 40.599999999999454px;
}
.frame-parent58 {
  gap: 47.19999999999982px;
}
.frame-parent57 {
  align-self: stretch;
  gap: 41.39999999999963px;
}
.frame-parent56,
.frame-parent57,
.frame-wrapper19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent56 {
  align-self: stretch;
  gap: 84.19999999999982px;
}
.frame-wrapper19 {
  width: 71.1px;
  padding: 5.899999999999636px 0 0;
  box-sizing: border-box;
}
.flights-to-and2,
.international-airfare2,
.not-included-optional2 {
  margin: 0;
}
.international-airfare-flight-container3 {
  height: 147.9px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.international-airfare-flight-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 29.100000000000364px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.alcoholic-beverages-and3 {
  height: 74px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.alcoholic-beverages-and-soft-d-container {
  width: 734.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.gratuities-tips2 {
  height: 74px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.gratuities-tips-frame {
  width: 326.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
}
.personal-funds-for3 {
  margin: 0;
}
.personal-funds-for-container3 {
  height: 111px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.personal-funds-for-souvenirs-a-wrapper {
  width: 1133.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.travel-insurance-sleeping3,
.travel-insurance-sleeping4 {
  height: 74px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.travel-insurance-sleeping3 {
  width: 647.3px;
  flex-shrink: 0;
}
.travel-insurance-sleeping4 {
  flex: 1;
}
.travel-insurance-sleeping-bags-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent60,
.travel-insurance-sleeping-bags-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.travel-insurance-sleeping-bags-parent {
  width: 1077.4px;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.frame-parent60 {
  flex: 1;
  gap: var(--gap-10xs);
  max-width: calc(100% - 118px);
}
.frame-parent55 {
  align-self: stretch;
  flex-direction: row;
  gap: 47.30000000000291px;
  color: var(--color-dimgray-200);
  font-family: var(--font-nexa-xbold);
}
.frame-parent54,
.frame-parent55,
.frame-wrapper18,
.rectangle-parent26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent54 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper18,
.rectangle-parent26 {
  box-sizing: border-box;
}
.frame-wrapper18 {
  width: 1482px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 19.799999999999272px;
}
.rectangle-parent26 {
  flex: 1;
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  border: 12px solid var(--color-blanchedalmond-100);
  flex-direction: column;
  padding: 70.30000000000018px var(--padding-3xs) 98.10000000000036px
    var(--padding-36xl);
  gap: var(--gap-48xl);
  z-index: 2;
}
.path-20-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin-top: -70px;
  font-size: var(--font-size-18xl);
  color: var(--color-royalblue);
  font-family: var(--font-nexa-black);
}
.cycle-detector,
.cycle-detector-wrapper,
.path-20-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.cycle-detector {
  width: 1688.7px;
  flex-direction: column;
  justify-content: flex-start;
}
.cycle-detector-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-38xl) 78.89999999999964px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-nexa-light);
}
@media screen and (max-width: 1700px) {
  .pen,
  .row {
    flex: 1;
  }
  .grid1 {
    flex-wrap: wrap;
  }
  .anchors,
  .spacer {
    flex: 1;
  }
  .align-vertical {
    flex-wrap: wrap;
  }
  .opacity,
  .stroke {
    flex: 1;
  }
  .fill {
    flex-wrap: wrap;
  }
  .logic-gate4 {
    flex: 1;
  }
  .data-aggregator2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .anchors,
  .logic-gate4,
  .opacity,
  .pen,
  .row,
  .spacer,
  .stroke {
    min-width: 100%;
  }
  .frame-wrapper19 {
    display: none;
  }
  .frame-parent60 {
    max-width: 100%;
  }
  .rectangle-parent26 {
    padding-left: var(--padding-8xl);
    padding-top: var(--padding-71xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
  .cycle-detector-wrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .embark-on-an-container3 {
    font-size: var(--font-size-7xl);
    line-height: 40px;
  }
  .accommodation2,
  .included2 {
    font-size: var(--font-size-11xl);
  }
  .stack {
    min-width: 100%;
  }
  .row {
    flex-wrap: wrap;
    gap: 35.5px 18px;
  }
  .all-meals-included-container2 {
    font-size: var(--font-size-11xl);
  }
  .symbol {
    min-width: 100%;
  }
  .brush {
    flex-wrap: wrap;
  }
  .ground-transportation-in-container3 {
    font-size: var(--font-size-11xl);
  }
  .image {
    min-width: 100%;
  }
  .spacer {
    flex-wrap: wrap;
    gap: 35.5px 18px;
  }
  .round-trip-airport-transfer3 {
    font-size: var(--font-size-11xl);
  }
  .variable {
    min-width: 100%;
  }
  .animate {
    flex-wrap: wrap;
    gap: 52.9px 26px;
  }
  .knowledgeable-and-fluent-container2 {
    font-size: var(--font-size-11xl);
  }
  .blend-mode {
    min-width: 100%;
  }
  .stroke {
    flex-wrap: wrap;
    gap: 37.1px 19px;
  }
  .full-coverage-of-container4 {
    font-size: var(--font-size-11xl);
    min-width: 100%;
  }
  .rotate {
    flex-wrap: wrap;
    gap: 55.9px 28px;
  }
  .professional-english-speaking4 {
    font-size: var(--font-size-11xl);
  }
  .professional-english-speaking-frame {
    min-width: 100%;
  }
  .container {
    flex-wrap: wrap;
    gap: 43.5px 22px;
  }
  .full-coverage-of-container5 {
    font-size: var(--font-size-11xl);
  }
  .full-coverage-of-national-par-container {
    min-width: 100%;
  }
  .frame-parent53 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .data-aggregator2 {
    gap: 53.2px 27px;
  }
  .alcoholic-beverages-and3,
  .excluded3,
  .gratuities-tips2,
  .international-airfare-flight-container3,
  .personal-funds-for-container3,
  .travel-insurance-sleeping3,
  .travel-insurance-sleeping4 {
    font-size: var(--font-size-11xl);
  }
  .travel-insurance-sleeping-bags-parent {
    gap: 19px 38px;
  }
  .frame-parent55 {
    gap: 47.3px 24px;
  }
  .rectangle-parent26 {
    gap: 33px 67px;
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .cycle-detector-wrapper {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .embark-on-an-container3 {
    font-size: var(--font-size-lgi);
    line-height: 30px;
  }
  .accommodation2,
  .all-meals-included-container2,
  .included2 {
    font-size: var(--font-size-3xl);
  }
  .brush {
    gap: 53.9px 27px;
  }
  .full-coverage-of-container4,
  .full-coverage-of-container5,
  .ground-transportation-in-container3,
  .knowledgeable-and-fluent-container2,
  .professional-english-speaking4,
  .round-trip-airport-transfer3 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent53 {
    gap: 55.9px 28px;
  }
  .alcoholic-beverages-and3,
  .excluded3,
  .gratuities-tips2,
  .international-airfare-flight-container3,
  .personal-funds-for-container3,
  .travel-insurance-sleeping3,
  .travel-insurance-sleeping4 {
    font-size: var(--font-size-3xl);
  }
  .rectangle-parent26 {
    gap: 17px 67px;
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
