.path-20-icon3 {
  height: 2435.9px;
  width: 1732.4px;
  position: absolute;
  margin: 0 !important;
  top: -1393px;
  left: -369.7px;
}
.frame-child38 {
  width: 1688.7px;
  height: 1682.1px;
  position: relative;
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  border: 12px solid var(--color-blanchedalmond-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.included {
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.included-wrapper {
  width: 227.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 1.2000000000007276px;
  box-sizing: border-box;
}
.frame-child39 {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.accommodation {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.accommodation-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  min-width: 211px;
}
.accommodation-wrapper,
.frame-parent34,
.frame-wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent34 {
  align-self: stretch;
  flex-direction: row;
  gap: 43.60000000000037px;
}
.frame-wrapper12 {
  width: 438.8px;
  flex-direction: column;
  padding: 14.899999999999636px 0 0;
  box-sizing: border-box;
}
.frame-child40 {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.all-meals-included,
.lunch-dinner {
  margin: 0;
  text-transform: capitalize;
}
.mineral-water1 {
  text-transform: capitalize;
}
.mineral-water {
  margin: 0;
}
.all-meals-included-container {
  align-self: stretch;
  height: 164.9px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.all-meals-included-breakfast-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  min-width: 419px;
  max-width: 100%;
}
.frame-parent33,
.frame-parent35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent35 {
  width: 772.8px;
  justify-content: flex-start;
  gap: 56.89999999999963px;
  min-width: 772.7999999999993px;
  max-width: 100%;
}
.frame-parent33 {
  align-self: stretch;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  color: var(--color-dimgray-200);
  font-family: var(--font-nexa-xbold);
}
.frame-parent32,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent32 {
  flex: 1;
  flex-direction: column;
  gap: 44.80000000000018px;
}
.frame-wrapper11 {
  width: 1573.6px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 1.6000000000003638px;
  box-sizing: border-box;
  color: var(--color-royalblue);
  font-family: var(--font-nexa-black);
}
.frame-child41 {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.ground-transportation2 {
  margin: 0;
}
.in-robust2 {
  margin: 0;
  white-space: pre-wrap;
}
.ground-transportation-in-container2 {
  flex: 1;
  position: relative;
  line-height: 39.2px;
  display: inline-block;
  min-width: 341px;
  min-height: 82.5px;
  max-width: 100%;
  z-index: 1;
}
.frame-parent38 {
  width: 639.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43.60000000000037px;
  max-width: 100%;
}
.frame-child42,
.round-trip-airport-transfer2 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.frame-child42 {
  height: 71.1px;
  width: 71.1px;
}
.round-trip-airport-transfer2 {
  align-self: stretch;
  text-transform: capitalize;
}
.round-trip-airport-transfer-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 367px;
  max-width: 100%;
}
.frame-parent39 {
  width: 692.8px;
  justify-content: flex-start;
  gap: 56.89999999999963px;
}
.frame-parent37,
.frame-parent39,
.frame-wrapper13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent37 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper13 {
  width: 1493.6px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 1.6000000000003638px;
  box-sizing: border-box;
}
.frame-child43 {
  width: 71.1px;
  height: 71.1px;
  position: relative;
  z-index: 1;
}
.frame-wrapper15 {
  height: 73.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
}
.english-speaking-guide1,
.knowledgeable-and-fluent {
  margin: 0;
}
.knowledgeable-and-fluent-container {
  flex: 1;
  position: relative;
  line-height: 39.2px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 352px;
  min-height: 82.5px;
  max-width: 100%;
  z-index: 1;
}
.frame-parent41,
.frame-wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent41 {
  align-self: stretch;
  flex-direction: row;
  gap: 45.20000000000073px;
}
.frame-wrapper14 {
  width: 657.2px;
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
}
.frame-child44 {
  height: 71.1px;
  width: 71.1px;
  position: relative;
  z-index: 1;
}
.fees,
.full-coverage-of {
  margin: 0;
}
.full-coverage-of-container {
  height: 82.5px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 403px;
  max-width: 100%;
  z-index: 1;
}
.frame-parent40,
.frame-parent42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent42 {
  width: 748.1px;
  justify-content: flex-start;
  gap: 56.89999999999963px;
}
.frame-parent40 {
  width: 1547.3px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child45 {
  width: 71.1px;
  height: 71.1px;
  position: relative;
  z-index: 1;
}
.data-aggregator-inner {
  height: 73.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
}
.professional-english-speaking1,
.safari-cook {
  margin: 0;
}
.professional-english-speaking {
  align-self: stretch;
  height: 82.5px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.professional-english-speaking-wrapper {
  width: 639.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child46 {
  width: 71.1px;
  height: 71.1px;
  position: relative;
  z-index: 1;
}
.data-aggregator-child {
  height: 76.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.399999999999636px 8.299999999999272px 0 0;
  box-sizing: border-box;
}
.camping-equipment-tents,
.sleeping-matschairs-tables {
  margin: 0;
}
.full-coverage-of-container1 {
  align-self: stretch;
  position: relative;
  line-height: 39.2px;
  text-transform: capitalize;
  display: inline-block;
  min-height: 82.5px;
  z-index: 1;
}
.full-coverage-of-national-par-wrapper {
  width: 672.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.399999999999636px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.data-aggregator1 {
  flex: 1;
  flex-direction: row;
  gap: 43.60000000000037px;
}
.data-aggregator-wrapper,
.data-aggregator1,
.frame-parent36,
.master-component {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-aggregator-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1.6000000000003638px;
  box-sizing: border-box;
}
.frame-parent36,
.master-component {
  flex-direction: column;
}
.master-component {
  align-self: stretch;
  gap: 76.60000000000036px;
}
.frame-parent36 {
  width: 1595.1px;
  padding: 0 0 107.79999999999929px;
  box-sizing: border-box;
  gap: var(--gap-51xl);
}
.excluded2 {
  width: 234.2px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.path-22-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.tour-description {
  position: absolute;
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent1 {
  height: 71.1px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.exploration-info,
.exploration-info-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.exploration-info-inner {
  align-self: stretch;
  flex-direction: row;
  opacity: 0.59;
  z-index: 1;
}
.exploration-info {
  width: 71.1px;
  flex-direction: column;
  padding: 13.899999999999636px 0 0;
  box-sizing: border-box;
}
.flights-to-and1,
.international-airfare1,
.not-included-optional1 {
  margin: 0;
}
.international-airfare-flight-container2 {
  flex: 1;
  position: relative;
  line-height: 39.2px;
  display: inline-block;
  min-width: 859px;
  min-height: 123.7px;
  max-width: 100%;
  z-index: 1;
}
.crater-visit-day,
.full-day-explore,
.new-tour-segment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.crater-visit-day {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45.29999999999927px;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.full-day-explore,
.new-tour-segment {
  align-self: stretch;
}
.new-tour-segment {
  flex-direction: row;
  padding: 0 0 0 1.1000000000003638px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-20xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-nexa-xbold);
}
.full-day-explore {
  flex-direction: column;
  gap: 58.900000000000546px;
  font-size: var(--font-size-19xl);
  color: var(--color-royalblue);
  font-family: var(--font-nexa-black);
}
.frame-child47,
.path-22-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child47 {
  top: 32.6px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent2 {
  height: 71.1px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.travel-info-inner {
  width: 71.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.alcoholic-beverages-and1 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.prepare-for-departure,
.travel-info,
.wildlife-highlights {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prepare-for-departure {
  flex: 1;
  flex-direction: column;
  padding: 20.600000000000364px 0 0;
  box-sizing: border-box;
  min-width: 473px;
}
.travel-info,
.wildlife-highlights {
  flex-direction: row;
}
.travel-info {
  flex: 1;
  flex-wrap: wrap;
  gap: 45.29999999999927px;
}
.wildlife-highlights {
  width: 846.7px;
  padding: 0 var(--padding-12xs) 5.900000000000546px 1.1000000000003638px;
  box-sizing: border-box;
}
.frame-child48,
.path-22-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child48 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent3 {
  height: 71.1px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.ngorongoro-greeting-inner {
  width: 71.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.gratuities-tips1 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.gratuities-tips-container,
.ngorongoro-greeting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.gratuities-tips-container {
  flex: 1;
  flex-direction: column;
  padding: 6.899999999999636px 0 0;
  box-sizing: border-box;
  min-width: 209px;
}
.ngorongoro-greeting {
  width: 437.2px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45.29999999999927px;
}
.frame-child49,
.path-22-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child49 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent4 {
  height: 71.1px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.personal-expenses-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.59;
  z-index: 1;
}
.frame-child50,
.path-22-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.1px;
  height: 71.1px;
}
.frame-child50 {
  top: 32.7px;
  left: 16.7px;
  background-color: var(--color-darkorange);
  width: 38.5px;
  height: 5.8px;
  z-index: 1;
}
.path-22-parent5 {
  height: 71.1px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.personal-expenses,
.personal-expenses-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.personal-expenses-child {
  align-self: stretch;
  flex-direction: row;
  opacity: 0.59;
  z-index: 1;
}
.personal-expenses {
  width: 71.1px;
  flex-direction: column;
  gap: 38.599999999999454px;
}
.personal-funds-for2 {
  margin: 0;
}
.personal-funds-for-container2,
.travel-insurance-sleeping2 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1cbd860;
  z-index: 1;
}
.personal-funds-for-container2 {
  align-self: stretch;
  height: 82.5px;
}
.travel-insurance-sleeping2 {
  width: 647.3px;
}
.personal-funds-for-souvenirs-a-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-15xl-5);
  flex-shrink: 0;
}
.frame-wrapper16,
.personal-expenses-parent,
.personal-funds-for-souvenirs-a-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper16 {
  flex: 1;
  flex-direction: column;
  padding: 9.899999999999636px 0 0;
  box-sizing: border-box;
  min-width: 733px;
}
.personal-expenses-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45.29999999999927px;
}
.serengeti-welcome {
  flex: 1;
  flex-direction: column;
  gap: 61.89999999999963px;
}
.serengeti-info,
.serengeti-welcome,
.your-journey-awaits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.your-journey-awaits {
  width: 1245.8px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 1.1000000000003638px;
  box-sizing: border-box;
}
.serengeti-info {
  flex: 1;
  flex-direction: column;
  gap: 51.69999999999982px;
}
.serengeti-info-wrapper {
  width: 1477.9px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 19.700000000000728px;
  box-sizing: border-box;
}
.day-inner8,
.path-20-group,
.rectangle-parent25,
.serengeti-info-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent25 {
  flex: 1;
  border-radius: var(--br-15xl);
  background-color: var(--color-white);
  border: 12px solid var(--color-blanchedalmond-100);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-66xl-5) var(--padding-mini) 68.19999999999982px
    var(--padding-36xl);
  gap: 24.600000000000364px;
  z-index: 2;
}
.day-inner8,
.path-20-group {
  flex-direction: row;
}
.path-20-group {
  width: 1688.7px;
  justify-content: flex-start;
  position: relative;
}
.day-inner8 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 197.89999999999964px var(--padding-2xl);
  box-sizing: border-box;
  margin-top: -5px;
  text-align: left;
  font-size: var(--font-size-20xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-nexa-xbold);
}
@media screen and (max-width: 1625px) {
  .frame-parent35 {
    flex: 1;
  }
  .data-aggregator1,
  .frame-parent33,
  .frame-parent37,
  .frame-parent40 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .frame-parent35,
  .frame-wrapper16,
  .international-airfare-flight-container2 {
    min-width: 100%;
  }
  .rectangle-parent25 {
    padding-left: var(--padding-8xl);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .day-inner8 {
    padding-bottom: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .accommodation,
  .all-meals-included-container,
  .included {
    font-size: var(--font-size-12xl);
  }
  .all-meals-included-breakfast-wrapper {
    min-width: 100%;
  }
  .frame-parent35 {
    flex-wrap: wrap;
  }
  .frame-parent32 {
    gap: 22px 44.8px;
  }
  .ground-transportation-in-container2 {
    font-size: var(--font-size-12xl);
    min-width: 100%;
  }
  .frame-parent38 {
    flex-wrap: wrap;
    gap: 43.6px 22px;
  }
  .round-trip-airport-transfer2 {
    font-size: var(--font-size-12xl);
  }
  .round-trip-airport-transfer-wrapper {
    min-width: 100%;
  }
  .frame-parent39 {
    flex-wrap: wrap;
    gap: 56.9px 28px;
  }
  .knowledgeable-and-fluent-container {
    font-size: var(--font-size-12xl);
    min-width: 100%;
  }
  .frame-parent41 {
    flex-wrap: wrap;
    gap: 45.2px 23px;
  }
  .full-coverage-of-container {
    font-size: var(--font-size-12xl);
    min-width: 100%;
  }
  .frame-parent42 {
    flex-wrap: wrap;
    gap: 56.9px 28px;
  }
  .full-coverage-of-container1,
  .professional-english-speaking {
    font-size: var(--font-size-12xl);
  }
  .data-aggregator1 {
    gap: 43.6px 22px;
  }
  .master-component {
    gap: 38px 76.6px;
  }
  .frame-parent36 {
    gap: 35px 70px;
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
  .excluded2 {
    font-size: var(--font-size-11xl);
  }
  .international-airfare-flight-container2 {
    font-size: var(--font-size-12xl);
  }
  .crater-visit-day {
    gap: var(--gap-4xl);
  }
  .full-day-explore {
    gap: 29px 58.9px;
  }
  .alcoholic-beverages-and1 {
    font-size: var(--font-size-12xl);
  }
  .prepare-for-departure {
    min-width: 100%;
  }
  .gratuities-tips1,
  .personal-funds-for-container2,
  .travel-insurance-sleeping2 {
    font-size: var(--font-size-12xl);
  }
  .personal-funds-for-souvenirs-a-parent {
    gap: 17px 34.5px;
  }
  .personal-expenses-parent {
    gap: var(--gap-4xl);
  }
  .serengeti-welcome {
    gap: 31px 61.9px;
  }
  .serengeti-info {
    gap: 26px 51.7px;
  }
  .day-inner8,
  .rectangle-parent25 {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .day-inner8 {
    padding-bottom: var(--padding-36xl);
  }
}
@media screen and (max-width: 450px) {
  .accommodation,
  .included {
    font-size: var(--font-size-4xl);
  }
  .frame-parent34 {
    flex-wrap: wrap;
    gap: 43.6px 22px;
  }
  .all-meals-included-container {
    font-size: var(--font-size-4xl);
  }
  .frame-parent35 {
    gap: 56.9px 28px;
  }
  .full-coverage-of-container,
  .full-coverage-of-container1,
  .ground-transportation-in-container2,
  .knowledgeable-and-fluent-container,
  .professional-english-speaking,
  .round-trip-airport-transfer2 {
    font-size: var(--font-size-4xl);
  }
  .master-component {
    gap: 19px 76.6px;
  }
  .frame-parent36 {
    gap: 17px 70px;
  }
  .alcoholic-beverages-and1,
  .excluded2,
  .international-airfare-flight-container2 {
    font-size: var(--font-size-4xl);
  }
  .travel-info {
    gap: var(--gap-4xl);
  }
  .gratuities-tips1 {
    font-size: var(--font-size-4xl);
  }
  .ngorongoro-greeting {
    gap: var(--gap-4xl);
  }
  .personal-funds-for-container2,
  .travel-insurance-sleeping2 {
    font-size: var(--font-size-4xl);
  }
  .serengeti-welcome {
    gap: 15px 61.9px;
  }
  .rectangle-parent25 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
