.frame-child82 {
  margin-left: -286px;
  width: 2230px;
  height: 482.1px;
  position: relative;
  object-fit: cover;
  max-width: 134%;
  flex-shrink: 0;
}
.frame-child83 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-27xl);
  background-color: var(--color-blanchedalmond-200);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
}
.set-off-on12 {
  height: 268.1px;
  width: 1423px;
  position: relative;
  line-height: 64px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-xl) 55.60000000000037px
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  min-height: 396px;
  max-width: 100%;
}
.day-320 {
  margin: 0;
  width: 801px;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.list-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  font-size: var(--font-size-31xl);
  color: var(--color-royalblue);
  font-family: var(--font-nexa-black);
}
.data-aggregator4,
.frame-parent87 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.data-aggregator4 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-77xl);
}
.frame-parent87 {
  position: absolute;
  top: 8274px;
  left: 0;
  width: 100%;
  align-items: flex-start;
  padding: 0 var(--padding-112xl);
  box-sizing: border-box;
  gap: 36.89999999999963px;
  text-align: center;
  font-size: var(--font-size-18xl);
  color: var(--color-gray-100);
  font-family: var(--font-nexa-book);
}
@media screen and (max-width: 1250px) {
  .frame-parent87 {
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .set-off-on12 {
    font-size: var(--font-size-11xl);
    line-height: 51px;
  }
  .day-320 {
    font-size: var(--font-size-21xl);
  }
  .data-aggregator4 {
    gap: 48px 96px;
  }
  .frame-parent87 {
    gap: 18px 36.9px;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .set-off-on12 {
    font-size: var(--font-size-3xl);
    line-height: 38px;
  }
  .day-320 {
    font-size: var(--font-size-11xl);
  }
  .data-aggregator4 {
    gap: 24px 96px;
  }
}
