.frame-child27 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.what-adventures-await3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.what-adventures-await2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
}
.our-safaris-arent,
.picture-this-elephants {
  margin-block-start: 0;
  margin-block-end: 37px;
}
.our-safaris-arent {
  white-space: pre-wrap;
}
.for-those-seeking {
  margin: 0;
}
.picture-this-elephants-container {
  align-self: stretch;
  height: 654px;
  position: relative;
  line-height: 32px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child28 {
  height: 83px;
  width: 343px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange);
  display: none;
  max-width: 100%;
}
.start-your-journey {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-nexa-black);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.frame-wrapper8,
.rectangle-parent17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl) var(--padding-mid) var(--padding-6xl)
    var(--padding-lg);
  background-color: var(--color-darkorange);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent17:hover {
  background-color: var(--color-chocolate);
}
.frame-wrapper8 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.frame-parent28,
.picture-this-elephants-casual-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-100);
  font-family: var(--font-nexa-light);
}
.frame-parent28 {
  padding: var(--padding-57xl) var(--padding-19xl) var(--padding-15xl)
    var(--padding-1005xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-21xl);
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-royalblue);
  font-family: var(--font-nexa-heavy);
}
@media screen and (max-width: 1225px) {
  .frame-parent28 {
    padding-left: var(--padding-493xl);
    padding-top: var(--padding-30xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .what-adventures-await3 {
    font-size: var(--font-size-21xl);
  }
  .what-adventures-await2 {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-parent28 {
    gap: 20px 40px;
    padding-left: var(--padding-237xl);
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .what-adventures-await3 {
    font-size: var(--font-size-11xl);
  }
  .picture-this-elephants-container {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
}
