.path-23-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navbar-section-child {
  height: 68.7px;
  width: 261.5px;
  position: relative;
  z-index: 1;
}
.frame-child25 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange);
}
.customize-your-trip,
.rectangle-parent16 {
  position: relative;
  z-index: 1;
}
.rectangle-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-smi) var(--padding-base);
  white-space: nowrap;
  cursor: pointer;
}
.navbar-section,
.y-o-u-r-gateway-to-unforgettab {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.y-o-u-r-gateway-to-unforgettab {
  width: 307px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.navbar-section {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-28xl) 18.300000000000185px
    var(--padding-24xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--color-white);
  font-family: var(--font-nexa-heavy);
}
@media screen and (max-width: 1225px) {
  .navbar-section {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
